body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 15%;
    overflow: hidden;
    background-color: #f5f5f5;
    /* position: fixed; */
    top: 0;
    width: 100%;
}

li {
    float: left;

}

li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2rem;
}

li a:hover:not(.active) {
    background-color: #70eeff;
}

.active {
    background-color: #70eeff;
    color: #fff;
    font-weight: bold;
}

.logout {
    float: right;
}

.order-content {
    display: none;
}

.order-dropdown:hover .order-content {
    display: block;
    position: absolute !important;
}