.body {
    text-align: center;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding-top: 10px;
}
.button {
    background-color: skyblue;
    color: white;
    display: inline-block;
    font-size: 32px;
    border: 2px solid skyblue;
    margin: 10px 10px 10px 10px;
    align-content: center;
    align-items: center;     
}
.button:hover {
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    color: black;
}
.header {
    background-color: beige;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #202020;
   color: whitesmoke;
   text-align: center;
}
.image {
    text-align: center;
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

.body {
    text-align: center;
}
body {margin:0;}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding-top: 10px;
}
.button {
    background-color: skyblue;
    color: white;
    display: inline-block;
    font-size: 32px;
    border: 2px solid skyblue;
    margin: 10px 10px 10px 10px;
    align-content: center;
    align-items: center;     
}
.button:hover {
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    color: black;
}
footer {
   width: 100%;
   background-color: #202020;
   color: whitesmoke;
   text-align: center;
   padding-bottom: 5px;
}
.image {
    text-align: center;
    display: block;
    margin: auto;
    padding-bottom: 20px;
}
.review {
    background-color: #B0DDFF;
    text-align: center;
    margin-top: 10px;
    padding: auto;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0 15%;
    overflow: hidden;
    background-color: #f5f5f5;
    position: fixed; 
    top: 0;
    width: 100%; }
.navbar li {float: left;}
.navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2rem;
}
.navbar a:hover { 
    background-color: #70eeff;
    color: white;
}
.div {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
/* start here navbar.css*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0 15%;
    overflow: hidden;
    background-color: #f5f5f5;
    /* position: fixed; */
    top: 0;
    width: 100%;
}
li { float: left;}
li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2rem;
}
li a:hover:not(.active) {
    background-color: #70eeff;
}
.active {
    background-color: #70eeff;
    color: #fff;
    font-weight: bold;
}
.logout { float: right; }
.order-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.order-dropdown:hover .order-content { display: block; }
